@import './mixins';
@import './variables';

.item-display {
    border: solid 2px;
    height: fit-content;
    width: fit-content;
    margin: 10px;
    padding: 10px;
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 14px;
    }
}

.item-img-size {
    width: 250px;
    height: 250px;
}

.item-empty-image {
    @include flexCenter();
    border: solid 1px;
    border-radius: 25px;
    margin-bottom: 10px;
    
    h1 {
        font-size: 32px;
        color: $scarlet;
        text-align: center;
    }
}

.item-table {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(auto-fill);
    gap: 10px;
    padding: 0px;
    border: solid 2px;
    margin-top: 20px;
}

.item-btn-div{
    @include flexCenter();
    flex-direction: column;
    width: auto;
    height: fit-content;
}

.btn-wishlist {
    @include btn-general();
    margin-top: 10px;
    background-color: $hotPink;
    font-size: 14px;
    &:hover {
        background-color: $darkPink;
    }
}