@import './mixins';
@import './variables';

.item-display {
    border: solid 2px;
    height: fit-content;
    width: 300px;
    margin: 10px;
    padding: 10px;
}

.item-img-size {
    width: 300px;
    height: 200px;
}

.item-empty-image {
    @include flexCenter();
    border: solid 1px;
    border-radius: 25px;
    margin-bottom: 10px;
    
    h1 {
        color: $scarlet;
        text-align: center;
    }
}

.item-table {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0px;
    border: solid 2px;
    margin-top: 20px;
}

.wishlist {
    @include btn-general();
    margin-top: 10px;
    background-color: $hotPink;
}