// font-family: 'Bebas Neue', cursive;
// font-family: 'Oswald', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap');

$scarlet: #B85042;
$olive: #E7E8D1;
$cardBGColor: #A7BEAE;
$headerBGColor: #6C8E8C;
$electricBlue: #373e98;
$hotPink: #f16775;
$darkPink: #d95d69;
$shockingYellow: #fee36e;
$chartreuse: #ceb92c;
$darkGray: #2a2a2a;
$lightpurple: #918CB7;
//#2F4858
//#3F5F6A
//#54777B
//#6C8E8C
//#88A69D
//#A7BEAE