@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap");
.item-display {
  border: solid 2px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px;
  padding: 10px;
}

.item-display h2 {
  font-size: 18px;
}

.item-display h3 {
  font-size: 14px;
}

.item-img-size {
  width: 250px;
  height: 250px;
}

.item-empty-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px;
  border-radius: 25px;
  margin-bottom: 10px;
}

.item-empty-image h1 {
  font-size: 32px;
  color: #B85042;
  text-align: center;
}

.item-table {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0px;
  border: solid 2px;
  margin-top: 20px;
}

.item-btn-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.btn-wishlist {
  border: solid;
  font-size: 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #f16775;
  font-size: 14px;
}

.btn-wishlist:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn-wishlist:hover {
  background-color: #d95d69;
}

.btn-remove {
  border: solid;
  font-size: 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  background-color: lightgray;
  font-size: 14px;
}

.btn-remove:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn-remove:hover {
  background-color: darkgray;
}

* {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

*:before,
*:after {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
}

.center-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-layout {
  height: 100vw;
  background: url(../images/homepage1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 100px;
  padding-left: 50px;
}

.generic-card {
  background-color: #373e98;
}

.welcome-card {
  width: 500px;
  height: 350px;
  border: solid;
  background-color: #373e98;
  padding: 10px;
}

.welcome-card h1 {
  font-family: "Oswald", sans-serif;
  font-size: 64px;
  color: white;
  margin: 0px;
}

.welcome-card button {
  font-size: 32px;
}

.btn {
  border: solid;
  font-size: 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  background-color: #fee36e;
  font-size: 14px;
}

.btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn:hover {
  background-color: #ceb92c;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  border-bottom: solid;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 50px;
}

.header button {
  float: right;
}

.header h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 64px;
  color: white;
  margin: 0px;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  height: 66px;
}

.navBar button {
  margin: 20px;
  font-size: 24px;
}

.navBar img {
  height: 30px;
}

.navBar .img-round {
  border-radius: 50%;
}

.navBar .cart {
  background-color: #fee36e;
  border: solid;
  border-color: black;
  padding: 5px;
}

.navBar .cart:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.navBar .cart:hover {
  background-color: #ceb92c;
}

.navBar .wish {
  background-color: #f16775;
  border: solid;
  border-color: black;
  padding: 5px;
  margin-right: 10px;
}

.navBar .wish:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.navBar .wish:hover {
  background-color: #d95d69;
}
/*# sourceMappingURL=index.css.map */