@import './variables';

body {
    margin: 0;
}
.home-layout{
    height: 100vw;
    // width: 100vw;
    background: url(../images/homepage1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 100px;
    padding-left: 50px;
}

.generic-card {
    background-color: $cardBGColor;
}

.welcome-card {
    width: 500px;
    height: 350px;
    border: solid;
    padding: 10px;
    h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 64px;
        margin: 0px;
    }
}

.btn {
    border: solid;
    font-size: 32px;
    background-color: $cardBGColor;
    cursor: pointer;
    &:active {
        transform: scale(0.95);
    }
    &:hover {
        background-color: $olive;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    height: 75px ;
    border-bottom: solid;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 50px;
    button {
        float: right;
    }
    h1 {
        font-family: 'Bebas Neue', cursive;
        font-size: 64px;
        margin: 0px;
    }
}