@import "./variables";
@import "./items";
@import "./mixins";

* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
}

.center-div {
  @include flexCenter();
}

.home-layout {
  height: 100vw;
  // width: 100vw;
  background: url(../images/homepage1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 100px;
  padding-left: 50px;
}

.generic-card {
  background-color: $electricBlue;
}

.welcome-card {
  width: 500px;
  height: 350px;
  border: solid;
  background-color: $electricBlue;
  padding: 10px;
  h1 {
    font-family: "Oswald", sans-serif;
    font-size: 64px;
    color: white;
    margin: 0px;
  }
  button {
    font-size: 32px;
  }
}

.btn {
  @include btn-general();
  background-color: $shockingYellow;
  font-size: 14px;
  &:hover {
    background-color: $chartreuse;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  border-bottom: solid;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 50px;
  button {
    float: right;
  }
  h1 {
    font-family: "Bebas Neue", cursive;
    font-size: 64px;
    color: white;
    margin: 0px;
  }
}

.navBar {
  @include flexCenter();
  display: flex;
  height: 66px;
  button {
    margin: 20px;
    font-size: 24px;
  }

  img {
    height: 30px;
  };

  .img-round {
    border-radius: 50%;
  }

  .profile-pic {
    height: 50px;
  }
  
  .cart {
    background-color: $shockingYellow;
    border: solid;
    border-color: black;
    padding: 5px;
    &:active {
      transform: scale(0.95);
    }
    &:hover {
      background-color: $chartreuse;
    }
    // border: 3px;
  }

  .wish {
    background-color: $hotPink;
    border: solid;
    border-color: black;
    padding: 5px;
    margin-right: 10px;
    &:active {
      transform: scale(0.95);
    }
    &:hover {
      background-color: $darkPink
    }
    // border: 3px;
  }
}

// .div-btn-disabled {
//   @include btn-general;
//   font-size: 14px;
//   padding-left: 12px;
//   padding-right: 12px;
//   padding-top: 6px;
//   padding-bottom: 6px;
//   background-color: lightgray;
//   cursor: not-allowed;
// }

// label {
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-end;
//     text-align: right;
//     width: 400px;
//     line-height: 26px;
//     margin-bottom: 10px;
//   }

//   input {
//     height: 20px;
//     flex: 0 0 200px;
//     margin-left: 10px;
//   }
